<a href="https://colab.research.google.com/github/HwangSeunggi/comnetA/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctyple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- 리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dict)와 셋(set)에 대해 이해하기

### **리스트(list)와 튜플(tuple)**

- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생선한 후에 변경이 가능
- tuple : 생성한 후 변경 불가능

In [ ]:
a = [] #[]안에 값을 담아서 생성
print(a)

In [ ]:
a = ['컴네', 'A', '1학년', 10,20 [2,3]]
print(a)

In [ ]:
a = "helllo comnet A!"
b = list(a) #list()함수로 리스트 생성
#다른 타입(문자열)을 리스트로 변환할 때 사용 가능

c = a.split() # 문자열의 공백 기준으로 리스트를 생성
b = a.split('l') #문자열의 공백을 기준으로 리스트를 생성

print(b)
print(c)
print(d)

### **리스트 indexting**

- [] 연산자를 이용해 항목을 가져온다.
- [i] : i번째 원소를 반환한다

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[0]. a[2])
print(a]-1], a[-3], a[-10])
print(a[10])

SyntaxError: ignored

In [ ]:
#인덱스 전급 후 값을 업데이트
a = "hello comnet A!"
b = a.replace('l','w')
c = 'j' +a[1:]
pritn(b)
print(c)

a = [1,2,3,4,5,6,7,8,9,10]
a[0] = 100
a[-1] = 90
pritn(a)

### **리스트 slictong**
- 슬라이싱 결과 리스트

In [ ]:
a - [1,2,3,4,5,6,7,8,9,10]
#슬라이싱[시작:끝:증가]

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[1;7;2])

### **리스트 멤버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가
- extend() : 리스트를 연장(+=)

- insert() : 원하는 위치에 추가 가능 (위치,아이템)
- remove() : 값으로 항목을 삭제
- pop() : 지우고자 하는 인덱스의 아이템을 반환 후 삭제
- index() : 찾고자하는 값의 인덱스를 변환

In [ ]:
a = [1,2,3,4,5]
a.append(10)
print(a)

b = [11,12,13,14,15]
#a.extend(b)
a += b #extend로 동작
print(a)

In [ ]:
a.insert(5, 20)
print(a)

In [ ]:
a.remove(5)
print(a)

In [ ]:
a.remove(20)
print(a)

In [ ]:
a = [1, 2, 3, 4, 10, 11, 12, 13, 14, 15]
c = a.pop(0)

print(a)
print(c)

In [ ]:
a = [2, 6, 7, 9, 10]
a.index(7)

### **in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True, False 중 한가지로 반환
- 값 in [list]

In [ ]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10

print(b in a)
print(c in a)

**list 정렬**
- sort() 
- sorttes() : 정렬된 리스트의 복사본을 반환

In [ ]:
a = [9, 10, 23, 1, 2, 45, 2, 35, 123, 31, 6]
b = sorted(a)
print(a)

a.sort(reverse=True)
print(a)
print(b)

### **튜플(Tuple)**
- 리스트와 같이 여러 개의 값을 갖는 데이터 컬렉션 타입
- 생성된 후 변경이 불가능

In [ ]:
a = [1,2,3,]
b = [1,2,3,]

print(type(a))
print(type(b))

a[0]= 100
print(a)
#b[0]

In [ ]:
a,b,c,ed = 10, 20, 30, 40
pritn(a,b,c,d)

In [ ]:
a = 5
b = 4

#문제! a,b의 값을 교환하세요.
#temp = a
#a = b
#b = temp
print(a.b)
a. b = b. a
print(a. b)